<div class="mt-5">
    <h5 class="titulo mb-3">{{ titulo | uppercase }}
        <div *ngIf="loading" class="spinner-border text-primary float-end" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </h5>
    <form [formGroup]="form" (ngSubmit)="agregarProveedor()">
        <div class="form-group mb-3">
            <label for="nombre">Nombre</label>
            <input type="text" formControlName="nombre" class="form-control" id="nombre" placeholder="">
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group mb-3">
                    <label for="region">Región</label>
                    <select class="form-control" id="region" formControlName="region" (change)="cargarComuna()" aria-placeholder="Seleccionar...">
                        <option disabled selected>Seleccionar...</option>
                        <option *ngFor="let region of listRegiones" [value]="region">{{ region }}</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group mb-3">
                    <label for="comuna">Comuna</label>
                    <select class="form-control" id="comuna" formControlName="comuna" aria-placeholder="Seleccionar...">
                        <option disabled selected>Seleccionar...</option>
                        <option *ngFor="let comuna of listComunas[0]" [value]="comuna">{{ comuna }}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="nombre">Dirección</label>
            <input type="text" class="form-control" formControlName="direccion" id="nombre" placeholder="">
        </div>
        <div class="col-lg-12">
            <button class="btn btn-primary btn-block" type="submit">AGREGAR</button>
        </div>
    </form>
</div>