<div class="mt-5">
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Direccion</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Fab. Muebles Ariel Soto</td>
                        <td>Santiago</td>
                        <td class="">
                            <i class="far fa-edit text-info"></i>
                            <i class="fas fa-trash-alt text-danger"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>